---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Extras" description="Materiales útiles para el aprendizaje de los sonidos en inglés">
    <article class="flex flex-col my-8 w-[85%] sm:w-[90%] items-center justify-center">
        <section class="flex flex-col justify-center text-xl sm:text-3xl text-center items-center w-full">
            <img src="/images/svg/extras/Extras.svg" alt="" class="my-5 sm:my-10 w-[46%]">
            <p class="my-5 sm:my-8 w-[80%] text-bold">
                Diccionario de pronunciación
            </p>

            <a href="https://forvo.com/" class="underline text-[#6610F2] text-extrabold my-10">Forvo</a>

            <p class="my-5 sm:my-8 w-[85%] text-bold mb-14 sm:mb-24">
                Aplicaciones
            </p>

            <div class="grid grid-cols-4 sm:grid-cols-12 gap-[15px] sm:w-[95%] mx-auto text-xl sm:text-3xl">
                <div class="col-span-2 sm:col-span-5 flex flex-col items-center justify-evenly underline text-[#6610F2] text-extrabold h-[70vh]">
                    <div class="h-full align-text-top">
                        <div class="h-[20%] flex justify-center">
                            <img src="/images/png/extras/gplay.png" alt="" class="h-[30%] sm:h-[45%]">
                        </div>
                        <div class="h-[20%]">

                            <a class="" href="https://play.google.com/store/apps/details?id=com.hkbu.ulip.avphonetics&hl=es_419&gl=US&pli=1">AV Phonetics</a>
                        </div>
                        <div class="h-[20%]">
                            <a class="h-[20%]" href="https://play.google.com/store/apps/details?id=net.blackenvelope.write.phonemes&hl=en&gl=US">Phonemes: IPA & Pronunciation</a>

                        </div>
                        <div class="h-[20%]">
                            <a class="h-[20%]" href="https://play.google.com/store/apps/details?id=edu.uiowa.uirf.soundsofspeech">Sounds of Speech</a>
                        </div>
                        <div class="h-[20%]">
                            <a class="h-[20%]" href="https://play.google.com/store/apps/details?id=com.aepronunciation.ipa">American English Pronunciation</a>                        
                        </div>
                    </div>

                </div>
                <div class="col-start-3 sm:col-start-8 col-span-2 sm:col-span-5 flex flex-col items-center justify-evenly underline text-[#6610F2] text-extrabold h-[70vh]">
                    <div class="h-full align-text-top">
                        <div class="h-[20%] flex justify-center">
                            <img src="/images/png/extras/appstore.png" alt="" class="h-[30%] sm:h-[45%]">
                        </div>
                        <div class="h-[20%]">
                            <a href="https://apps.apple.com/es/app/av-phonetics/id1022721561">AV Phonetics</a>
                        </div>
                        <div class="h-[20%]">
                            <a href="https://apps.apple.com/cl/app/ipa-phonetics/id869642260">iPA Phonetics</a>
                        </div>
                        <div class="h-[20%]">
                            <a href="https://apps.apple.com/us/app/sounds-of-speech/id780656219?platform=iphone">Sounds of Speech</a>
                        </div>
                        <div class="h-[20%]">
                            <a href="https://apps.apple.com/us/app/ae-pronunciation/id1049726030">ae Pronunciation</a>
                        </div>    
                    </div>
                    
                </div>

            </div>

        </section>

    </article>

</Layout>