---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Objetivo">
    <article class="flex flex-col my-8 w-[85%] sm:w-[80%] items-center justify-center">
        <section class="flex flex-col justify-center text-base sm:text-3xl text-center items-center w-full">
            <img src="/images/svg/objetivos/Objetivo.svg" alt="" class="my-10 sm:my-16 sm:w-[80%]">
            <p class="my-5 sm:my-6 w-[80%]">
                Esta <span class="text-bold text-[#6610F2]">página web</span> fue creada para <span class="text-bold">complementar la enseñanza de la pronunciación del inglés</span> dentro del aula de clases de <span class="text-bold text-[#6610F2]">inglés como lengua extranjera</span>.
            </p>

            <p class="my-5 sm:my-6 w-[85%]">
                La página tiene como <span class="text-bold text-[#6610F2]">objetivo</span> <span class="text-bold">enseñar la pronunciación desde el punto de vista de la escritura,</span> tanto en inglés como en español.
            </p>

            <p class="my-5 sm:my-6 w-[85%]">
                La página <span class="text-bold text-[#6610F2]">puede ser utilizada por profesores de inglés</span> como lengua extranjera o bien <span class="text-bold text-[#6610F2]">por personas que estén aprendiendo inglés</span> como lengua extranjera.
            </p>

        </section>

    </article>

</Layout>