---
import Layout from '../layouts/Layout.astro';
import AudioPlayer from '../components/AudioPlayer';
import RevealButton from '../components/landing/RevealButton';
---

<Layout>
    <article class="flex flex-col mt-8 mb-8">
        <!-- Seccion de "Oh no!" -->
        <section class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto ">
            <img 
            src="/images/svg/landing/Oh_No.svg"
            alt="Texto que dice 'Oh no!'"
            class="object-contain
            w-[720px]
            col-span-8 row-span-2 place-self-center"
            />
            <img
            src="/images/svg/landing/Emoji_Sorprendido.svg"
            alt="Emoji sorprendido"
            class="object-contain
            w-[236.99px]
            col-span-4 row-span-2 col-start-9 place-self-end"
            />
            <p
            class="text-center
            text-2xl
            sm:text-6xl
            col-span-12"
            >
                Mi cerebro me engaña al leer <span class="text-[#6610F2] text-bold">inglés</span>...
            </p>
        </section>
        <!-- Seccion de "¿Cómo puedo aprender?" -->
        <section class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] space-y-8 mx-auto mt-20 sm:mt-24">
            <p
            class="text-center
            text-base
            sm:text-2xl
            col-span-12"
            >
                Para que puedas notar <span class="text-bold">cómo tu cerebro te engaña al leer una palabra en </span><span class="text-[#6610F2] text-bold">inglés, </span>pon atención a los siguientes pares de palabras:
            </p>
            <div class="
            col-span-6 place-items-center
            sm:col-span-2 sm:col-start-4">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Fir
                </p>
                <AudioPlayer audio_path={"/audio/landing/Fir.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 col-start-7 place-items-center
            sm:col-span-2 sm:col-start-8">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Fur
                </p>
                <AudioPlayer audio_path={"/audio/landing/Fur.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 place-items-center
            sm:col-span-2 sm:col-start-4">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Chip
                </p>
                <AudioPlayer audio_path={"/audio/landing/Chip.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 col-start-7 place-items-center
            sm:col-span-2 sm:col-start-8">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Ship
                </p>
                <AudioPlayer audio_path={"/audio/landing/Ship.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 place-items-center
            sm:col-span-2 sm:col-start-4">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Hi
                </p>
                <AudioPlayer audio_path={"/audio/landing/Hi.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 col-start-7 place-items-center
            sm:col-span-2 sm:col-start-8">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    High
                </p>
                <AudioPlayer audio_path={"/audio/landing/High.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 place-items-center
            sm:col-span-2 sm:col-start-4">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Boat
                </p>
                <AudioPlayer audio_path={"/audio/landing/Boat.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div class="
            col-span-6 col-start-7 place-items-center
            sm:col-span-2 sm:col-start-8">
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Vote
                </p>
                <AudioPlayer audio_path={"/audio/landing/Vote.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <img
            src="/images/svg/landing/Emoji_Pensando.svg"
            alt="Emoji pensando"
            class="object-contain
            min-w-[90px]
            col-span-6 col-start-4 place-self-center
            sm:w-[164px]
            sm:col-span-2 sm:row-span-4 sm:col-start-1 sm:row-start-2" />
        </section>
        <!-- Sección de comparación -->
        <section class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-16 sm:mt-24">
            <img 
            src="/images/svg/global/Estrella.svg"
            alt="Estrella"
            class="object-contain
            w-[104px]
            col-span-2 place-self-center"
            />
            <p
            class="text-center
            text-base
            sm:text-2xl
            col-span-8 col-start-3"
            >
                De los cuatro pares de palabras que leíste,<span class="text-bold">¿cuáles son <span class="text-[#6610F2]">iguales</span> y cuáles son <span class="text-[#6610F2]">diferentes</span>?</span>
            </p>
            <img 
            src="/images/svg/global/Estrella.svg"
            alt="Estrella"
            class="object-contain
            w-[104px]
            col-span-2 col-start-11 place-self-center"
            />
            <div
            class="mt-8
            col-span-3 col-start-1 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Fir
                </p>
                <AudioPlayer audio_path={"/audio/landing/Fir.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div
            class="mt-8
            col-span-3 col-start-4 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Fur
                </p>
                <AudioPlayer audio_path={"/audio/landing/Fur.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <img
            src="/images/svg/landing/Flecha_Derecha.svg"
            alt="Flecha Derecha"
            class="object-contain mt-8
            col-span-2 col-start-7 place-self-center
            sm:w-[165px]
            sm:col-span-3 sm:col-start-7 sm:place-self-center"
            />
            <RevealButton word={"Diferentes"} client:load/>
            <div
            class="mt-8
            col-span-3 col-start-1 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Chip
                </p>
                <AudioPlayer audio_path={"/audio/landing/Chip.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div
            class="mt-8
            col-span-3 col-start-4 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Ship
                </p>
                <AudioPlayer audio_path={"/audio/landing/Ship.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <img
            src="/images/svg/landing/Flecha_Derecha.svg"
            alt="Flecha Derecha"
            class="object-contain mt-8
            col-span-2 col-start-7 place-self-center
            sm:w-[165px]
            sm:col-span-3 sm:col-start-7 sm:place-self-center"
            />
            <RevealButton word={"Iguales"} client:load/>
            <div
            class="
            mt-8
            col-span-3 col-start-1 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Hi
                </p>
                <AudioPlayer audio_path={"/audio/landing/Hi.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div
            class="
            mt-8
            col-span-3 col-start-4 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    High
                </p>
                <AudioPlayer audio_path={"/audio/landing/High.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <img
            src="/images/svg/landing/Flecha_Derecha.svg"
            alt="Flecha Derecha"
            class="object-contain mt-8
            col-span-2 col-start-7 place-self-center
            sm:w-[165px]
            sm:col-span-3 sm:col-start-7 sm:place-self-center"
            />
            <RevealButton word={"Iguales"} client:load/>
            <div
            class="
            mt-8
            col-span-3 col-start-1 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Boat
                </p>
                <AudioPlayer audio_path={"/audio/landing/Boat.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <div
            class="
            mt-8
            col-span-3 col-start-4 place-items-center"
            >
                <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Vote
                </p>
                <AudioPlayer audio_path={"/audio/landing/Vote.mp3"} className="w-24 h-24 sm:w-20 sm:h-20" client:load/>
            </div>
            <img
            src="/images/svg/landing/Flecha_Derecha.svg"
            alt="Flecha Derecha"
            class="object-contain mt-8
            col-span-2 col-start-7 place-self-center
            sm:w-[165px]
            sm:col-span-3 sm:col-start-7 sm:place-self-center"
            />
            <RevealButton word={"Diferentes"} client:load/>
        </section>
        <!-- Sección de "Tal como puedes notar" -->
        <section class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] space-y-8 mx-auto mt-24">
            <p class="text-base
            col-span-9 place-content-center
            sm:text-2xl">
                Tal como puedes haber notado, la forma en que <span class="text-bold">están escritas las palabras</span> y <span class="text-bold">cómo las leemos</span> son <span class="text-[#6610F2] text-bold">dos cosas distintas</span>. Por ejemplo, <span class="text-[#6610F2] text-bold">fur</span> y <span class="text-[#6610F2] text-bold">fir</span> se <span class="text-bold">escriben distinto, escriben distinto, pero se pronuncian igual</span>.
            </p>
            <img
            src="/images/svg/landing/Emoji_Bombilla.svg"
            alt="Emoji bombilla"
            class="col-span-3 place-self-center"
            />
        </section>
    </article>
</Layout>
