---
import AudioPlayer from "../../components/AudioPlayer";
import TeacherMessage from "../../components/TeacherMessage";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [{ params: { exercice: "z" } }];
}
---

<Layout
  title="Letras t-d"
  description="Explicación de la diferencia entre los sonidos t y d en castellano e inglés"
>
  <article class="flex flex-col justify-center">
    <section class="mb-52 -mt-24 lg:-mt-10">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <img
          src="/images/svg/tyd/Fonema_T_D.svg"
          alt="Fonema Z"
          class="col-start-1 col-span-6 transform sm:-translate-x-4 translate-y-40 my-auto"
        />
        <div
          class="col-start-7 col-span-6 flex items-center transform translate-y-40 translate-x-8 sm:translate-x-0"
        >
          <p
            class="text-xl sm:text-2xl lg:text-5xl max-w-[90%] overflow-hidden"
          >
            Las <span class="text-extrabold text-[#6610F2]">letras t y d</span> existen
            en castellano e inglés, pero se pronuncian de manera distinta.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-12 gap-[15px] w-[85%] lg:w-full mx-auto">
        <p
          class="col-start-1 col-span-12 text-base sm:max-w-[70%] sm:mx-auto lg:col-start-3 lg:col-span-8 c1800:max-w-[65%] sm:text-2xl text-center"
        >
          <span class="text-bold">En castellano</span>, para pronunciar las
          <span class="text-bold">
            letras <span class="text-[#6610F2]">t</span> y <span
              class="text-[#6610F2]">d</span
            >
          </span>
          ponemos la lengua <span class="text-bold text-[#6610F2]"
            >detrás de los dientes</span
          >.
        </p>
        <img
          src="/images/png/tyd/td.png"
          alt="Forma de la boca"
          class="col-span-6 col-start-4 sm:h-[20vh] my-10 lg:my-20 mx-auto"
        />
        <div
          class="col-start-1 col-span-12 w-[90%] c400:w-[85%] sm:max-w-[60%] sm:mx-auto lg:col-start-3 lg:col-span-8 lg:w-full mx-auto"
        >
          <p class="text-base sm:text-2xl text-center">
            <span class="text-bold">Para comprobar esto</span>, toma un espejo y
            observa cómo
            <span class="text-bold text-[#6610F2]"> se mueve tu lengua </span>
            dentro de tu boca al pronunciar lentamente las siguientes palabras:
          </p>
        </div>
      </div>
    </section>
    <section class="my-10 lg:my-20">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <img
          src="/images/png/tyd/Espejo.png"
          alt="Imagen de un espejo"
          class="col-span-4 col-start-1 lg:col-span-3 lg:col-start-3 my-auto"
        />
        <img
          src="/images/svg/tyd/Tetera_Dedal.svg"
          alt="Tetera y dedal"
          class="col-span-8 col-start-6 lg:col-span-5 lg:col-start-6 my-auto"
        />
      </div>
    </section>
    <section>
      <div class="grid grid-cols-12 gap-[15px] w-[80%] lg:w-full mx-auto">
        <div
          class="col-start-2 col-span-10 lg:col-start-4 sm:max-w-[80%] sm:mx-auto lg:col-span-6 w-full"
        >
          <p class="text-base sm:text-2xl text-center">
            Tal como lo puedes notar, al pronunciar las
            <span class="text-bold">
              letras <span class="text-[#6610F2]">t</span> y <span
                class="text-[#6610F2]">d</span
              >
            </span>
            en ambas palabras, tu lengua se pone
            <span class="text-bold"> detrás de tus dientes. </span>
          </p>
        </div>
      </div>
      <span
        class="flex item-center justify-center text-bold text-xl sm:text-2xl lg:mt-20"
        >Por ejemplo:</span
      >
    </section>
    <section class="mt-10 lg:my-20">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div
          class="flex flex-col justify-end items-center col-start-2 col-span-4 lg:col-start-3 lg:col-span-3 mx-auto"
        >
          <img
            src="/images/png/tyd/Tetera.png"
            alt="Imagen de una tetera"
            class="w-[90%]"
          />
          <div
            class="text-4xl lg:text-6xl w-full text-center text-extrabold text-[#6610F2] mt-6 lg:mt-14 lg:mb-5 mx-auto"
          >
            Tetera
            <AudioPlayer
              audio_path={"/audio/t-d/Tetera.mp3"}
              className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
              client:load
            />
          </div>
        </div>

        <div
          class="flex flex-col justify-end items-center col-start-8 col-span-4 lg:col-start-8 lg:col-span-3 mx-auto"
        >
          <img
            src="/images/png/tyd/Dedal.png"
            alt="Imagen de un dedal"
            class="w-[90%] mx-auto"
          />
          <div
            class="text-4xl lg:text-6xl text-extrabold text-[#6610F2] mt-6 c400:mt-4 lg:mt-12 lg:mb-5 text-center"
          >
            Dedal
            <AudioPlayer
              audio_path={"/audio/t-d/Dedal.mp3"}
              className="col-start-8 col-span-4 w-20 h-20 lg:col-start-9 lg:col-span-1 lg:w-24 lg:h-24 mx-auto"
              client:load
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <img
          src="/images/svg/global/Estrella.svg"
          alt="Imagen de play audio"
          class="col-start-1 col-span-4 lg:col-start-2 lg:col-span-3 max-sm:transform max-sm:translate-y-24 my-auto"
        />
        <div
          class="col-start-1 col-span-12 w-full c400:w-[88%] lg:col-start-6 lg:col-span-7 c1400:w-[97%] c1800:w-[90%] ml-auto my-auto"
        >
          <p
            class="text-base sm:text-2xl max-sm:transform max-sm:-translate-y-20 text-right my-auto"
          >
            En cambio,
            <span class="text-bold">
              la pronunciacion de las letras
              <span class="text-[#6610F2]">t</span> y <span
                class="text-[#6610F2]">d</span
              >
              en inglés
            </span>
            se parece más a la pronunciación de la
            <span class="text-bold text-[#6610F2]">
              letra r en castellano</span
            >.
          </p>
        </div>
      </div>
    </section>
    <section class="my-16 lg:my-20">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <img
          src="/images/svg/tyd/Postdental.svg"
          alt="Imagen de pronunciación postdental"
          class="col-start-2 col-span-4 lg:col-start-3 lg:col-span-3"
        />
        <img
          src="/images/svg/tyd/Alveolar.svg"
          alt="Imagen de pronunciación alveolar"
          class="col-start-8 col-span-4 lg:col-start-8 lg:col-span-3"
        />
        <span
          class="col-start-2 col-span-4 text-base lg:col-start-2 lg:col-span-5 sm:text-2xl text-bold text-center"
        >
          Pronunciación postdental
        </span>
        <span
          class="col-start-8 col-span-4 text-base lg:col-start-7 lg:col-span-5 sm:text-2xl text-bold text-center"
        >
          Pronunciación alveolar
        </span>
        <div
          class="col-start-1 col-span-6 lg:col-start-2 lg:col-span-5 w-full c400:w-[90%] lg:w-[75%] c1800:w-full mx-auto"
        >
          <p class="text-sm sm:text-2xl text-center">
            Lengua en la pronunciación de las <span
              class="text-[#6610F2] text-bold"
              >letras t <span class="text-black">y</span> d</span
            > del castellano
          </p>
        </div>
        <div
          class="col-start-7 col-span-6 lg:col-start-7 lg:col-span-5 w-full lg:w-[90%] c1800:w-full mx-auto"
        >
          <p class="text-sm mx-1 sm:text-2xl text-center">
            Lengua en la pronunciación de la <span class="text-black text-bold"
              >letra <span class="text-[#6610F2]">r</span></span
            > en castellano y las <span class="text-[#6610F2] text-bold"
              >letras t <span class="text-black">y</span> d</span
            > en inglés
          </p>
        </div>
      </div>
    </section>
    <section class="mb-8">
      <div
        class="grid grid-cols-12 grid-rows-2 gap-[15px] w-[90%] sm:w-[75%] mx-auto"
      >
        <div
          class="col-start-1 col-span-11 row-start-1 max-w-[88%] sm:col-span-8 sm:max-w-[90%] mb-4"
        >
          <p class="text-lg sm:text-2xl text-left leading-[1.45rem]">
            Una forma de hacernos conscientes de las
            <span class="text-bold"
              >diferencias entre la escritura y la pronunciación
            </span>
            <span class="inline c1400:block"
              >del castellano y del inglés es hacer</span
            >
            <span class="text-bold text-[#6610F2] inline c1400:block">
              ejercicios <span
                class="text-bold text-[#6610F2] inline c400:block c500:inline"
                >de discriminación.</span
              >
            </span>
          </p>
        </div>
        <div
          class="col-start-2 col-span-4 row-start-2 flex justify-center items-center transform -translate-y-20 -translate-x-8 c450:-translate-y-12 sm:-translate-y-12 sm:translate-x-0"
        >
          <img
            src="/images/svg/global/Flecha.svg"
            alt="Flecha"
            class="w-24 h-24 sm:w-40 sm:h-40 rotate-[5.53deg]"
          />
        </div>
        <div
          class="col-end-13 col-span-10 max-w-[90%] ml-auto sm:max-w-[95%] sm:col-end-13 sm:col-span-8 row-start-2 transform"
        >
          <p class="text-lg sm:text-2xl text-right leading-[1.45rem]">
            Los <span class="text-bold text-[#6610F2]"
              >ejercicios de discriminación</span
            > permiten que podamos <span class="text-bold"
              >diferenciar la pronunciación</span
            > de una letra de otra y, además, nos ayudan a mejorar nuestra
            <span class="text-bold">escritura</span>
            <span class="text-bold inline c400:block c450:inline"
              >en la lengua extranjera</span
            >.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div
          class="col-start-1 col-span-12 lg:col-start-3 lg:col-span-8 w-full c400:w-[90%] lg:w-full c1800:w-[80%] mx-auto"
        >
          <p class="text-base sm:text-2xl text-center lg:my-10">
            Ahora que ya sabes que en castellano y en inglés hay
            <span class="text-bold">
              diferencias entre la pronunciación
            </span>de las <span class="text-bold">letras <span class="text-[#6610F2]">t</span> y <span class="text-[#6610F2]">d</span></span>,
             escucha los siguientes audios, que están en castellano e inglés, y
            <span class="text-bold"> pon atención </span>
            <span class="text-bold">
              a las
              <span class="text-[#6610F2]">
                diferencias en la pronunciación
              </span>:
            </span>
          </p>
          <div
            class="flex w-full justify-center z-10 transform translate-y-12 sm:translate-y-4 relative"
          >
            <TeacherMessage client:load />
          </div>
        </div>
      </div>
    </section>
    <section class="py-56 -mt-16 sm:-mt-16 mb-96">
      <div>
        <img
          src="/images/svg/global/Contenedor_Audios_Superior_xl.svg"
          alt="Contenedor de Audios Parte Superior"
          class="w-3/4 hidden justify-center mx-auto transform -translate-y-36 sm:block"
        />
        <div
          class="relative w-full max-w-[350px] sm:max-w-[650px] sm:max-h-[650px] transform translate-y-40 mx-auto py-32 sm:py-32"
        >
          <img
            src="/images/svg/global/Contenedor_Audios_Superior.svg"
            alt="Contenedor de Audios Parte Superior"
            class="w-full transform -translate-y-96 sm:-translate-y-96 mb-80 sm:mb-60 sm:hidden"
          />
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-full px-24 transform translate-y-48">
              <div class="grid grid-cols-2 gap-4 gap-x-32 sm:gap-x-0">
                <div class="flex flex-col items-center text-center mb-8">
                  <span
                    class="text-2xl sm:text-4xl text-extrabold "
                  >
                    Español
                    <img
                      src="/images/svg/global/Destacado.svg"
                      alt="Imagen que destaca el texto"
                      class="w-1/2 mx-auto"
                    />
                  </span>
                </div>
                <div class="flex flex-col items-center text-center mb-8">
                  <span
                    class="text-2xl sm:text-4xl text-extrabold"
                  >
                    Inglés
                    <img
                      src="/images/svg/global/Destacado.svg"
                      alt="Imagen que destaca el texto"
                      class="w-1/2 mx-auto"
                    />
                  </span>
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Tabla
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Tabla_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Table
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Table_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Dama
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Dama_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Dame
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Dame_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Talento
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Talento_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Talent
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Talent_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Tacto
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Tacto_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Tact
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Tact_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Tarta
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Tarta_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Tart
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Tart_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Decente
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Decente_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Decent
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Decent_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Denso
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Denso_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Dense
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Dense_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            src="/images/svg/global/Contenedor_Audios_Inferior.svg"
            alt="Contenedor de Audios Parte Inferior"
            class="w-full transform translate-y-96 sm:translate-y-96 -z-10 absolute mt-48 sm:mt-20 sm:hidden"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="flex justify-center">
        <img
          src="/images/svg/global/Contenedor_Audios_Inferior_xl.svg"
          alt="Contenedor de Audios Parte Inferior"
          class="w-3/4 lg:w-1/2 hidden mx-auto transform -z-10 absolute translate-y-48 sm:block"
        />
      </div>
    </section>
    <section class="mt-48 sm:mt-80">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div
          class="col-start-2 col-span-10 lg:col-start-3 lg:col-span-8 w-full c400:w-[95%] lg:w-[90%] c1800:w-full mx-auto"
        >
          <p class="text-base sm:text-2xl text-center">
            Recuerda que la pronunciación de las
            <span class="text-bold">
              letras <span class="text-[#6610F2]">t</span> y <span
                class="text-[#6610F2]">d</span
              >
            </span>

            <span class="text-bold">en inglés</span>
            se parece más a la pronunciación de la

            <span class="text-bold">letra r en castellano</span>
            que a la pronunciación de las <span class="text-bold"
              >letras <span class="text-[#6610F2]">t</span> y <span
                class="text-[#6610F2]">d</span
              ></span
            > en castellano.
          </p>
        </div>
        <div
          class="col-start-2 col-span-10 lg:col-start-3 lg:col-span-8 w-full"
        >
          <p class="text-xl mt-5 lg:text-4xl lg:mt-20 text-bold text-center">
            ¿Cómo podemos
            <span class="text-[#6610F2]"
              >pronunciar las letras t y d del inglés</span
            >?
          </p>
        </div>
        <p
          class="col-start-5 col-span-4 text-2xl mt-5 c400:text-3xl sm:text-5xl lg:col-start-5 lg:col-span-4 lg:mt-20 lg:text-6xl text-bold mx-auto flex flex-col items-end text-[#6610F2] whitespace-nowrap"
        >
          <img
            src="/images/png/tyd/Tetera.png"
            alt="Imagen de una tetera"
            class="w-[90%] mx-auto"
          />
          <span class="text-extrabold mt-5 lg:mt-10 mx-auto">
            Tete-<span class="text-black">ra</span>
          </span>
        </p>
      </div>
    </section>
    <!-- Van los gift de demostracion -->
    <section class="my-10 lg:my-20 lg:mb-20">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div
          class="col-start-3 col-span-8 lg:col-start-2 lg:col-span-10 text-center w-full"
        >
          <span class="text-base sm:text-2xl text-bold">
            Pronuncia de manera muy lenta la palabra <span
              class="text-[#6610F2]">tetera</span
            >.
          </span>
        </div>
      </div>
    </section>
    <section class="mb-10 lg:mb-20 w-[85%] sm:w-[75%] mx-auto">
      <video src="/videos/t-d/Tetera_UltraSlow.mp4" controls class="mx-auto" controlsList="nodownload">
        Tu navegador no admite el elemento <code>video</code>.
      </video>
    </section>
    <section class="lg:mb-20">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div class="col-span-12 flex flex-col gap-4 sm:flex-row sm:items-center sm:w-[90%]">
          <p class="text-base sm:text-2xl text-left w-[70%] sm:w-full">
            Fíjate en el <span class="text-bold text-[#6610F2]">
              movimiento de tu lengua
            </span> dentro de tu boca. Al pronunciar “<span
              class="text-bold text-[#6610F2]">tete</span
            >”, la lengua se pone

            <span class="text-bold"> detrás de los dientes. </span>
          </p>
          <div class="flex justify-end -mt-12 sm:mt-0">
            <img
              src="/images/svg/global/Estrella.svg"
              alt="Imagen de Estrella"
              class="max-w-24 sm:max-w-44"
            />
          </div>
        </div>
        <img
          src="/images/svg/tyd/Postdental.svg"
          alt="Imagen de pronunciación postdental"
          class="col-start-5 col-span-4 mx-auto sm:mt-10"
        />
        <span
          class="col-start-4 col-span-6 text-2xl lg:col-start-4 lg:col-span-6 sm:text-2xl text-center text-bold lg:w-[90%] mx-auto"
          >Pronunciación postdental</span
        >
        <div
          class="col-start-4 col-span-6 lg:col-start-4 lg:col-span-6 w-full c400:w-[90%] mb-8 sm:mb-0 lg:w-[65%] c1800:w-[90%] mx-auto"
        >
          <p class="text-sm sm:text-2xl text-center">
            Lengua en la pronunciación de las <span class="text-bold"
              >letras <span class="text-[#6610F2]">t</span> y <span
                class="text-[#6610F2]">d</span
              >
            </span> del castellano
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div class="col-span-12 flex flex-col gap-4 sm:flex-row sm:items-center sm:w-[90%] sm:ml-auto">
          <div class="hidden sm:block">
            <div class="flex justify-start -mt-12 sm:mt-0">
              <img
                src="/images/svg/global/Estrella.svg"
                alt="Imagen de Estrella"
                class="max-w-24 sm:max-w-44"
              />
            </div>
          </div>
          <p class="text-base sm:text-2xl text-right w-[80%] sm:w-full ml-auto">
            Al pronunciar <span class="text-bold">"ra"</span>, la lengua se <span
              class="text-[#6610F2] text-bold"
              >aleja de tus dientes
            </span>
            y se desplaza hacia los alveólos.
          </p>
          <div class="sm:hidden">
            <div class="flex justify-start -mt-12 sm:mt-0">
              <img
                src="/images/svg/global/Estrella.svg"
                alt="Imagen de Estrella"
                class="max-w-24 sm:max-w-44"
              />
            </div>
          </div>
        </div>
        <img
          src="/images/svg/tyd/Alveolar.svg"
          alt="Imagen de pronunciación alveolar"
          class="col-start-5 col-span-4 mx-auto sm:mt-10"
        />
        <div
          class="col-start-5 col-span-4 lg:col-start-5 lg:col-span-4 text-center w-full"
        >
          <span class="text-xl sm:text-2xl text-bold">Pronunciación alveolar</span
          >
        </div>
        <div
          class="col-start-4 col-span-6 lg:col-start-4 lg:col-span-6 w-full c400:w-[90%] lg:w-[95%] mx-auto"
        >
          <p class="text-sm mx-1 sm:text-2xl lg:mx-12 text-center">
            Lengua en la pronunciación de la <span class="text-bold"
              >letra <span class="text-[#6610F2]">r</span></span
            > en castellano y las <span class="text-bold"
              ><span class="text-[#6610F2]"> letras t</span> y <span
                class="text-[#6610F2]">d</span
              >
            </span> en inglés
          </p>
        </div>
        <div
          class="col-start-1 col-span-12 lg:col-start-3 lg:col-span-8 w-[85%] c400:w-[90%] lg:w-[90%] sm:mb-0 c1800:w-full mx-auto"
        >
          <p class="mt-5 text-base sm:text-2xl text-center lg:mt-20">
            En las palabras a continuación, la lengua se pone <span
              class="text-bold">primero detrás de los dientes</span
            > al pronunciar la <span class="text-[#6610F2] text-bold"
              >letra t</span
            > y luego se aleja y se sitúa en los alvéolos al pronunciar las <span
              class="text-bold">letras <span class="text-[#6610F2]">r</span></span
            > o <span class="text-bold text-[#6610F2]"> rr</span>.
          </p>
        </div>
      </div>
    </section>

    <section class="mt-10">
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <div
          class="col-start-5 col-span-4 lg:col-start-2 lg:col-span-3 text-center lg:mt-20 flex flex-col items-center"
        >
          <div class="h-[150px] lg:h-[200px] flex items-center justify-center">
            <!-- Altura fija para todas las imágenes -->
            <img
              src="/images/svg/tyd/Tierra.svg"
              alt="Imagen del planeta tierra"
              class="w-[85%] mx-auto object-contain"
            />
          </div>
          <div class="sm:mt-5">
            <span
              class="text-4xl lg:text-6xl text-extrabold text-[#6610F2] block"
            >
              T<span class="text-black">ie</span>rr<span class="text-black"
                >a</span
              >
              <AudioPlayer
                audio_path={"/audio/t-d/Tierra.mp3"}
                className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
                client:load
              />
            </span>
          </div>
        </div>

        <div
          class="col-start-2 col-span-4 lg:col-start-6 lg:col-span-2 lg:mt-20 text-center flex flex-col items-center"
        >
          <div class="h-[150px] lg:h-[200px] flex items-center justify-center">
            <img
              src="/images/svg/tyd/Torre.svg"
              alt="Imagen de una torre"
              class="w-full h-auto max-h-full object-contain"
            />
          </div>
          <div class="lg:mt-5">
            <span
              class="text-4xl lg:text-6xl text-extrabold text-[#6610F2] block"
            >
              T<span class="text-black">o</span>rr<span class="text-black"
                >e</span
              >
              <AudioPlayer
                audio_path={"/audio/t-d/Torre.mp3"}
                className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
                client:load
              />
            </span>
          </div>
        </div>

        <div
          class="col-start-8 col-span-4 lg:col-start-9 lg:col-span-3 lg:mt-20 text-center flex flex-col items-center"
        >
          <div class="h-[150px] lg:h-[200px] flex items-center justify-center">
            <img
              src="/images/svg/tyd/Tarro.svg"
              alt="Imagen de un tarro"
              class="w-[85%] object-contain"
            />
          </div>
          <div class="lg:mt-5">
            <span
              class="text-4xl lg:text-6xl text-extrabold text-[#6610F2] block"
            >
              T<span class="text-black">a</span>rr<span class="text-black"
                >o</span
              >
              <AudioPlayer
                audio_path={"/audio/t-d/Tarro.mp3"}
                className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
                client:load
              />
            </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
        <p
          class="col-start-1 col-span-12 text-base lg:col-start-2 lg:col-span-10 sm:text-2xl sm:mt-20 lg:mx-16 text-center mt-10 -mb-16 sm:mb-0"
        >
          Así entonces, cuando pronunciamos las <span class="text-bold"
            >letras <span class="text-[#6610F2]">t</span> y <span
              class="text-[#6610F2]">d</span
            >
            en inglés
          </span> tenemos que poner <span class="text-bold">
            la lengua en el mismo lugar
          </span> de las <span class="text-bold">letras <span class="text-[#6610F2]">r</span></span> o <span
            class="text-bold text-[#6610F2]">rr</span
          >, como en:
        </p>

        <span
          class="flex flex-col items-center col-start-5 col-span-4 text-4xl lg:col-start-2 lg:col-span-3 lg:text-6xl text-extrabold text-center mt-20"
        >
          <div class="h-[150px] lg:h-[200px] flex items-center justify-center">
            <img
              src="/images/svg/tyd/Pero.svg"
              alt="Imagen de un pero"
              class="w-full object-contain"
            />
          </div>
          <div class="sm:mt-10">
            Pe<span class="text-[#6610F2]">r</span>o
            <AudioPlayer
              audio_path={"/audio/t-d/Pero.mp3"}
              className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
              client:load
            />
          </div>
        </span>
        <span
          class="flex flex-col items-center col-start-2 col-span-4 text-4xl lg:col-start-6 lg:col-span-2 lg:text-6xl mx-auto text-extrabold text-center lg:mt-20"
        >
          <div class="h-[150px] lg:h-[200px] flex items-center justify-center">
            <img
              src="/images/svg/tyd/Zorro.svg"
              alt="Imagen de un zorro"
              class="w-full h-auto max-h-full object-contain"
            />
          </div>
          <div class="lg:mt-10">
            Zo<span class="text-[#6610F2]">rr</span>o
            <AudioPlayer
              audio_path={"/audio/t-d/Zorro.mp3"}
              className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
              client:load
            />
          </div>
        </span>
        <span
          class=" flex flex-col items-center col-start-8 col-span-4 text-4xl lg:col-start-9 lg:col-span-3 lg:text-6xl text-extrabold text-center lg:mt-20"
        >
          <div class="h-[150px] lg:h-[200px] flex items-center justify-center">
            <img
              src="/images/svg/tyd/Roca.svg"
              alt="Imagen de una roca"
              class="w-full h-auto max-h-full object-contain"
            />
          </div>
          <div class="lg:mt-10">
            <span class="text-[#6610F2]">R</span>oca
            <AudioPlayer
              audio_path={"/audio/t-d/Roca.mp3"}
              className="w-20 h-20 lg:w-24 lg:h-24 mx-auto"
              client:load
            />
          </div>
        </span>
      </div>
      <section class="sm:my-20">
        <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
          <img
            src="/images/svg/tyd/Postdental.svg"
            alt="Imagen de pronunciación alveolar"
            class="col-start-5 col-span-4 lg:col-start-5 lg:col-span-4 mx-auto"
          />
          <span
            class="col-start-4 col-span-6 text-2xl lg:col-start-5 lg:col-span-4 sm:text-2xl text-bold text-center"
          >
            Pronunciación alveolar
          </span>
          <p
            class="col-start-4 col-span-7 text-base max-sm:max-w-[92%] lg:col-start-4 lg:col-span-6 sm:text-2xl lg:mx-12 text-center"
          >
            Lengua en la pronunciación de la <span class="text-bold"
              >letra <span class="text-[#6610F2]">r</span></span
            > en castellano y las<span class="text-bold">
              letras <span class="text-[#6610F2]">t</span> y <span
                class="text-[#6610F2]">d</span
              >
            </span>
            en inglés
          </p>
        </div>
      </section>
      <section class="mb-10 mt-10 sm:mt-32">
        <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
          <div
            class="col-start-1 col-span-12 lg:col-start-3 lg:col-span-9 w-full lg:w-[90%]"
          >
            <p class="text-base sm:text-2xl text-center">
              Ahora que ya tienes conciencia de la similitud de la
              <span class="text-bold">letra <span class="text-[#6610F2]">r</span></span> en castellano y
              <span class="text-bold">
                las letras <span class="text-[#6610F2]">t</span> y <span
                  class="text-[#6610F2]">d</span
                > en inglés,
              </span>
              vas a pronunciar las siguientes palabras, con ayuda de sus respectivos
              audios.
            </p>
          </div>
          <span
            class="col-start-1 col-span-12 text-base lg:col-start-2 lg:col-span-10 sm:text-2xl sm:mt-8 text-center text-bold"
          >
            Escucha cada audio y luego <span class="text-[#6610F2]"
              >repite la palabra</span
            >:
          </span>
        </div>
        <div
          class="flex w-full justify-center z-10 transform translate-y-16 sm:translate-y-24 relative"
        >
          <TeacherMessage client:load />
        </div>
      </section>
      <section class="py-56 mt-10 mb-96">
        <img
          src="/images/svg/global/Contenedor_Audios_Superior_xl.svg"
          alt="Contenedor de Audios Parte Superior"
          class="w-3/4 hidden justify-center mx-auto transform -translate-y-36 sm:block"
        />
        <div
          class="relative w-full max-w-[350px] sm:max-w-[650px] mx-auto py-32 sm:py-16"
        >
          <img
            src="/images/svg/global/Contenedor_Audios_Superior.svg"
            alt="Contenedor de Audios Parte Superior"
            class="w-full transform -translate-y-80 sm:hidden"
          />
          <div class="absolute inset-0 flex items-center justify-center">
            <div class="w-full px-24 transform translate-y-52">
              <div class="grid grid-cols-2 gap-4 gap-x-32 sm:gap-x-0">
                <div class="flex flex-col items-center text-center mb-8">
                  <span
                    class="text-2xl sm:text-4xl text-extrabold"
                  >
                    Español
                    <img
                      src="/images/svg/global/Destacado.svg"
                      alt="Imagen que destaca el texto"
                      class="w-1/2 mx-auto"
                    />
                  </span>
                </div>
                <div class="flex flex-col items-center text-center mb-8">
                  <span
                    class="text-2xl sm:text-4xl text-extrabold"
                  >
                    Inglés
                    <img
                      src="/images/svg/global/Destacado.svg"
                      alt="Imagen que destaca el texto"
                      class="w-1/2 mx-auto"
                    />
                  </span>
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Total
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Total_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Total
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Total_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Terror
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Terror_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Terror
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Terror_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Denso
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Denso_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Dense
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Dense_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Decidir
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Decidir_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Decide
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Decide_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Depender
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Depender_ESP.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Depend
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/t-d/Depend_ENG.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            src="/images/svg/global/Contenedor_Audios_Inferior.svg"
            alt="Contenedor de Audios Parte Inferior"
            class="w-full transform translate-y-96 sm:translate-y-96 -z-10 absolute mt-40 sm:mt-5 sm:hidden"
          />
        </div>
      </section>
      <section>
        <div class="flex justify-center">
          <img
            src="/images/svg/global/Contenedor_Audios_Inferior_xl.svg"
            alt="Contenedor de Audios Parte Inferior"
            class="w-3/4 lg:w-1/2 hidden mx-auto transform -z-10 absolute -translate-y-8 sm:block"
          />
        </div>
      </section>
      <section class="sm:mt-24 overflow-hidden">
        <div class="grid grid-cols-2 items-center relative">
          <div class="col-span-2 text-center">
            <p class="text-xl sm:text-3xl text-center mb-4 sm:mb-12">
              <span class="text-mediumbold">¿Quieres seguir </span><span
                class="text-bold text-[#6610F2]"
              >
                ejercitando</span
              ><span class="text-mediumbold">?</span>
            </p>
            <nav
              class="transform transition-transform duration-200 hover:scale-110"
            >
              <a
                href="/exercise/t-d"
                class="text-[#6610F2] text-extrabold text-2xl sm:text-4xl w-full cursor-pointer px-4 text-center inline-flex justify-center"
              >
                Haz click aquí
              </a>
              <img
                src="/images/svg/global/Destacado.svg"
                alt="Destacado"
                class="mx-auto w-20 sm:w-40 sm:mt-2"
              />
            </nav>
          </div>
          <div class="col-start-2 col-span-2 -mt-12 sm:-mt-14">
            <img
              src="/images/svg/global/Mano_Izquierda.svg"
              alt="Mano Izquierda"
              class="w-32 h-32 sm:w-56 sm:h-56 transform translate-y-2 translate-x-14 sm:-translate-y-8 sm:translate-x-32"
            />
          </div>
        </div>
      </section>
    </section>
  </article>
</Layout>
