---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [
    { params: { exercice: 'z' } }
  ];
}
---

<Layout title="Fonemas">
    <article class="bg-[#F4F0FF] sm:mx-auto xl:mx-[188px]"> 
        <section>
            <button class="underline sm:text-lg text-xl lg:text-2xl">
                Fonemas
            </button>
        </section>
        <section class="mb-40 sm:mb-48 -mt-32">
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
                <img 
                    src="/images/svg/tyd/Fonema_T_D.svg" 
                    alt="Fonema Z" 
                    class="col-span-6 sm:col-span-5 transform sm:-translate-x-4 translate-y-40" 
                />
                <div class="col-span-7 col-start-6 flex items-center transform translate-y-40 translate-x-8 sm:translate-x-0">
                    <p class="text-xl sm:text-2xl lg:text-5xl w-[85%]">
                        Las <span class="font-bold text-[#6610F2]">letras t y d</span> existen en castellano e inglés, pero se pronuncian de manera distinta.
                    </p>
                </div>
            </div>
        </section>
        <section class="mb-16">
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto">
                <p class="col-start-3 col-span-8 text-2xl sm:text-3xl lg:text-4xl text-center">
                    <span class="text-bold">En castellano</span>, para pronunciar las 
                    <span class="text-bold">
                        letras <span class="text-[#6610F2]">t</span> y <span class="text-[#6610F2]">d</span>
                    </span>
                    ponemos la lengua <span class="text-bold text-[#6610F2]">detrás de los dientes.</span>
                </p>
                <img src="/images/svg/tyd/Mano_Boca.svg"
                    alt="Mano apuntando a una boca"
                    class="col-span-6 col-start-4 mx-auto"
                    >
                <p class="col-start-3 col-span-8 sm:text-lg text-xl lg:text-3xl text-center">
                    <span class="text-bold">Para comprobar esto</span>, toma un espejo y observa cómo
                    <span class="text-bold text-[#6610F2]">
                        se mueve tu lengua
                    </span>
                    dentro de tu boca al pronunciar lentamente las siguentes palabras:
                </p>    
            </div>
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-20">
                <img src="/images/svg/tyd/Espejo.svg"
                    alt="Imagen de un espejo"
                    class="col-span-3 col-start-3 my-auto"
                    >
                <img src="/images/svg/tyd/Tetera_Dedal.svg"
                    alt="Tetera y dedal"
                    class="col-span-5 col-start-6 my-auto"
                    >
            </div>
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-20">
                <p class="col-start-3 col-span-8 sm:text-lg text-xl lg:text-2xl text-center">
                    Tal como lo puedes notar, al pronunciar las 
                    <span class="text-bold">
                        letras <span class="text-[#6610F2]">t</span> y <span class="text-[#6610F2]">d</span>
                    </span>
                    en ambas palabras, tu lengua se pone 
                    <span class="text-bold">
                        detrás de tus dientes.
                    </span>
                </p>    
                <span class="text-bold col-start-6 col-span-3 sm:text-lg text-xl lg:text-3xl mx-auto mt-20">Por ejemplo:</span>
            </div>
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-20">
                <img src="/images/svg/tyd/Tetera.svg"
                    alt="Imagen de un espejo"
                    class="col-start-3 col-span-3"
                    >
                <img src="/images/svg/tyd/Dedal.svg"
                    alt="Tetera y dedal"
                    class="col-start-8 col-span-3 mx-auto"
                    >
            </div>
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-10">
                <span class="text-6xl text-bold text-[#6610F2] col-start-3 col-span-3 mx-auto">Tetera</span>
                <span class="text-6xl text-bold text-[#6610F2] col-start-8 col-span-3 mx-auto">Dedal</span>
            </div>
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-10">
                <img src="/images/svg/global/Reproducir_Audio.svg" 
                    alt="Imagen de play audio" 
                    class="col-start-4 col-span-1 mx-auto"
                    >
                <img src="/images/svg/global/Reproducir_Audio.svg" 
                    alt="Imagen de play audio" 
                    class="col-start-9 col-span-1 mx-auto"
                    >
            </div>
            <div class="grid grid-cols-12 gap-[15px] w-[85%] sm:w-[75%] mx-auto mt-10">
                <img src="/images/svg/global/Estrella.svg" 
                    alt="Imagen de play audio" 
                    class="col-start-2 col-span-3 mx-auto"
                    >
                <p class="col-start-6 col-span-7 sm:text-lg text-xl lg:text-2xl text-right my-auto">
                    En cambio,
                    <span class="text-bold">
                        la pronunciacion de las letras 
                        <span class="text-[#6610F2]">t</span> y <span class="text-[#6610F2]">d</span>
                        en inglés
                    </span>
                    se parece más a la pronunciación de la
                    <span class="text-bold block">
                        letra r en castellano.
                    </span>
                </p>
            </div>
        </section>
    </article>
</Layout>
