---
import AudioPlayer from "../../components/AudioPlayer";
import TeacherMessage from "../../components/TeacherMessage";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [{ params: { exercice: "z" } }];
}
---

<Layout
  title="Letras v-b"
  description="Explicación de la diferencia entre los sonidos v y b en inglés"
>
  <article class="flex flex-col justify-center">
    <section class="mb-12 sm:mb-12 mt-20 sm:mt-24">
      <div
        class="flex items-center w-[90%] sm:w-[100%] mx-auto transform justify-center"
      >
        <img
          src="/images/svg/vyb/vyb.svg"
          alt="Fonema V y B"
          class="w-1/2 sm:w-5/12 transform sm:translate-x-12"
        />
        <div
          class="flex items-center ml-4 sm:ml-36 max-w-[50%] sm:max-w-[100%] transform translate-x-2 sm:-translate-x-12"
        >
          <p class="text-xl sm:text-5xl max-w-[100%] sm:max-w-[100%]">
            La <span class="text-bold text-[#6610F2]">letra v</span> se pronuncia
            siempre como la <span class="text-bold text-[#6610F2]">letra b</span
            >
            <span class="inline c400:block c500:inline">en castellano.</span>
          </p>
        </div>
      </div>
    </section>
    <!-- Seccion de "Es decir, siempre pronunciamos con la" -->
    <section class="sm:mb-8">
      <div class="flex justify-center max-w-[90%] sm:max-w-[50%] mx-auto">
        <p class="text-lg sm:text-2xl text-center mb-12">
          Es decir, siempre pronunciamos con la <span
            class="text-bold text-[#6610F2]">letra b</span
          > las palabras escritas con las
          <span class="text-bold">letras</span>
          <span class="text-bold text-[#6610F2]">v</span>
          <span class="text-bold">y</span>
          <span class="text-bold text-[#6610F2]">b</span>.
        </p>
      </div>

      <div class="max-w-2xl mx-auto">
        <p class="text-xl sm:text-3xl text-center mb-4">
          Pensemos <span class="text-bold">por ejemplo</span> en la pronunciación
          de:
        </p>

        <div class="grid grid-cols-2 sm:gap-x-48 mb-14">
          <div class="flex flex-col justify-end items-center">
            <img
              src="/images/png/vyb/Botar.png"
              alt="Botar"
              class="w-32 sm:w-56 max-w-[70%] sm:max-w-[100%] my-6"
            />
            <p
              class="text-[#6610F2] text-4xl sm:text-6xl text-extrabold mb-2 sm:mb-8"
            >
              Botar
            </p>
            <AudioPlayer
              audio_path={"/audio/v-b/Votar.mp3"}
              className="w-24 h-24 sm:w-20 sm:h-20"
              client:load
            />
          </div>
          <div class="flex flex-col justify-end items-center">
            <img
              src="/images/png/vyb/Votar.png"
              alt="Votar"
              class="w-32 sm:w-56 max-w-[70%] xl:max-w-[100%] my-6"
            />
            <p
              class="text-[#6610F2] text-4xl sm:text-6xl text-extrabold mb-2 sm:mb-8"
            >
              Votar
            </p>
            <AudioPlayer
              audio_path={"/audio/v-b/Votar.mp3"}
              className="w-24 h-24 sm:w-20 sm:h-20"
              client:load
            />
          </div>
        </div>
      </div>
      <div
        class="flex justify-center max-w-[90%] sm:max-w-[70%] xl:max-w-[45%] mx-auto"
      >
        <p class="text-lg sm:text-2xl text-center mb-12 leading-[1.45rem]">
          Tal como lo puedes notar, cuando leemos las
          <span class="text-bold">letras</span>
          <span class="text-bold text-[#6610F2]">v</span>
          <span class="text-bold">y</span>
          <span class="text-bold text-[#6610F2]">b</span>, no hacemos <span
            class="text-bold">ninguna</span
          >
          <span class="text-bold inline xs:inline c400:block c500:inline"
            >diferencia entre ambas.</span
          >
        </p>
      </div>
    </section>
    <!-- Seccion de "Votar y Botar" -->
    <section class="mb-20">
      <div class="flex justify-center max-w-[90%] sm:max-w-[55%] mx-auto">
        <p class="text-lg sm:text-2xl text-center mb-12 leading-[1.45rem]">
          De hecho, bien podríamos escribir ambas palabras con las
          <span class="text-bold">letras</span>
          <span class="text-bold text-[#6610F2]">v</span>
          <span class="text-bold">y</span>
          <span class="text-bold text-[#6610F2]">b</span> y las pronunciaríamos igual:
        </p>
      </div>
      <div class="max-w-2xl mx-auto">
        <div class="grid grid-cols-2 sm:gap-x-48 mb-14">
          <div class="flex flex-col text-center justify-center items-center">
            <p
              class="text-extrabold text-[#6610F2] text-4xl sm:text-6xl sm:-mb-2 sm:leading-[79.36px]"
            >
              Votar
            </p>
            <p class="text-2xl sm:text-3xl text-extrabold mb-2">(de tirar)</p>
            <AudioPlayer
              audio_path={"/audio/v-b/Votar.mp3"}
              className="w-24 h-24 sm:w-20 sm:h-20"
              client:load
            />
          </div>
          <div class="flex flex-col text-center justify-center items-center">
            <p
              class="text-extrabold text-[#6610F2] text-4xl sm:text-6xl sm:-mb-2 sm:leading-[79.36px]"
            >
              Botar
            </p>
            <p class="text-2xl sm:text-3xl text-extrabold mb-2">(de voto)</p>
            <AudioPlayer
              audio_path={"/audio/v-b/Votar.mp3"}
              className="w-24 h-24 sm:w-20 sm:h-20"
              client:load
            />
          </div>
        </div>
      </div>
      <div class="flex justify-center max-w-[90%] sm:max-w-[75%] mx-auto">
        <p class="text-lg sm:text-2xl text-center mb-12 leading-[1.45rem]">
          Aunque sabríamos que la <span class="text-bold"
            >ortografía no es la correcta,
          </span>
          en nuestras mentes seguiríamos pensando en ir a
          <span class="text-bold text-[#6610F2]">votar</span> y
          <span class="text-bold text-[#6610F2]">botar</span> la basura.
        </p>
      </div>
      <!-- Seccion de "Cómo se pronuncien la palabras" -->
      <section class="flex flex-col sm:flex-row sm:items-center max-w-[90%] sm:max-w-[75%] mx-auto mb-8">
        <img
          src="/images/svg/global/Estrella.svg"
          alt="Estrella"
          class="w-28 sm:w-56 hidden sm:block"
        />
        <p class="text-lg sm:text-2xl text-right leading-[1.45rem]">
          En inglés, las <span class="text-bold">letras</span>
          <span class="text-bold text-[#6610F2]">v</span>
          <span class="text-bold">y</span>
          <span class="text-bold text-[#6610F2]">b</span> al inicio de una
          <span class="inline xs:inline c400:block c500:inline"
            >palabra tiene <span class="text-bold"
              >pronunciaciones distintas y</span
            ></span
          >
          <span class="inline xs:inline c400:block c500:inline"
            ><span class="text-bold">significados distintos.</span></span
          >
        </p>
        <img
          src="/images/svg/global/Estrella.svg"
          alt="Estrella"
          class="w-28 sm:w-56 sm:h-56 -mt-6 sm:hidden"
        />
      </section>
      <!-- Seccion de "Por ejemplo Van y Ban" -->
      <section class="mb-12 sm:mb-24">
        <div class="max-w-2xl mx-auto">
          <p class="text-xl sm:text-3xl text-bold text-center mb-4">
            Por ejemplo:
          </p>

          <div class="grid grid-cols-2 sm:gap-x-48">
            <div class="flex flex-col justify-end items-center">
              <img
                src="/images/png/vyb/Van.png"
                alt="Van"
                class="w-56 max-w-[70%] sm:max-w-[100%] my-6"
              />
              <p class="text-[#6610F2] text-4xl sm:text-6xl text-extrabold">
                Van
              </p>
              <p
                class="text-xl sm:text-3xl text-extrabold text-center whitespace-nowrap"
              >
                (tipo de automóvil)
              </p>
              <AudioPlayer
                audio_path={"/audio/v-b/Van.mp3"}
                className="w-24 h-24 sm:w-20 sm:h-20"
                client:load
              />
            </div>
            <div class="flex flex-col justify-end items-center">
              <img
                src="/images/png/vyb/Ban.png"
                alt="Ban"
                class="w-56 max-w-[70%] xl:max-w-[100%] my-6"
              />
              <p class="text-[#6610F2] text-4xl sm:text-6xl text-extrabold">
                Ban
              </p>
              <p class="text-xl sm:text-3xl text-extrabold whitespace-nowrap">
                (de prohibir)
              </p>
              <AudioPlayer
                audio_path={"/audio/v-b/Ban.mp3"}
                className="w-24 h-24 sm:w-20 sm:h-20"
                client:load
              />
            </div>
          </div>
        </div>
      </section>
      <!-- Seccion de "Ejercicios de discriminacion" -->
      <section class="mb-8">
        <div
          class="grid grid-cols-12 grid-rows-2 gap-[15px] w-[90%] sm:w-[75%] mx-auto"
        >
          <div
            class="col-start-1 col-span-11 row-start-1 max-w-[88%] sm:col-span-8 sm:max-w-[90%] mb-4"
          >
            <p class="text-lg sm:text-2xl text-left leading-[1.45rem]">
              Una forma de hacernos conscientes de las
              <span class="text-bold"
                >diferencias entre la escritura y la pronunciación
              </span>
              <span class="inline c1400:block"
                >del castellano y del inglés es hacer</span
              >
              <span class="text-bold text-[#6610F2] inline c1400:block">
                ejercicios <span
                  class="text-bold text-[#6610F2] inline c400:block c500:inline"
                  >de discriminación.</span
                >
              </span>
            </p>
          </div>
          <div
            class="col-start-2 col-span-4 row-start-2 flex justify-center items-center transform -translate-y-20 -translate-x-8 c450:-translate-y-12 sm:-translate-y-12 sm:translate-x-0"
          >
            <img
              src="/images/svg/global/Flecha.svg"
              alt="Flecha"
              class="w-24 h-24 sm:w-40 sm:h-40 rotate-[5.53deg]"
            />
          </div>
          <div
            class="col-end-13 col-span-10 max-w-[90%] ml-auto sm:max-w-[95%] sm:col-end-13 sm:col-span-8 row-start-2 transform"
          >
            <p class="text-lg sm:text-2xl text-right leading-[1.45rem]">
              Los <span class="text-bold text-[#6610F2]"
                >ejercicios de discriminación</span
              > permiten que podamos <span class="text-bold"
                >diferenciar la pronunciación</span
              > de una letra de otra y, además, nos ayudan a mejorar nuestra
              <span class="text-bold">escritura</span>
              <span class="text-bold inline c400:block c450:inline"
                >en la lengua extranjera</span
              >.
            </p>
          </div>
        </div>
      </section>
      <!-- Seccion de "Pronuncia las siguientes palabras" -->
      <section class="mb-80 sm:mb-96">
        <p
          class="mt-4 text-lg sm:text-2xl text-center mb-56 max-w-[90%] sm:max-w-[50%] mx-auto leading-[1.45rem]"
        >
          Utiliza la siguiente lista para hacer un <span
            class="text-bold text-[#6610F2]"
            >ejercicio
          </span>
          <span class="inline c400:block c500:inline">
            <span class="text-bold text-[#6610F2]">de discriminación</span>
            de las <span class="text-bold">letras</span>
            <span class="text-bold text-[#6610F2]">v</span>
            <span class="text-bold">y</span>
            <span class="text-bold text-[#6610F2]">b</span> en inglés:</span
          >
        </p>

        <div
          class="flex w-full justify-center z-10 transform -translate-y-48 sm:-translate-y-28 relative"
        >
          <TeacherMessage client:load />
        </div>

        <img
          src="/images/svg/global/Contenedor_Audios_Superior_xl.svg"
          alt="Contenedor de Audios Parte Superior"
          class="w-3/4 hidden justify-center mx-auto transform -translate-y-36 sm:block"
        />
        <div
          class="relative w-full max-w-[350px] sm:max-w-[650px] mx-auto py-32 sm:py-16"
        >
          <img
            src="/images/svg/global/Contenedor_Audios_Superior.svg"
            alt="Contenedor de Audios Parte Superior"
            class="w-full transform -translate-y-80 sm:hidden"
          />
          <div class="absolute inset-0 flex items-center justify-center">
            <div
              class="w-full px-24 transform translate-y-20 sm:translate-y-24"
            >
              <div class="grid grid-cols-2 gap-4 gap-x-32 sm:gap-x-0">
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Vat
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Vat.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Bat
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Bat.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Vest
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Vest.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Best
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Best.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Vote
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Vote.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p
                    class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold text-center"
                  >
                    Boat
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Boat.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
                <div class="flex flex-col items-center mb-8">
                  <p class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold">
                    Veer
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Veer.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>

                <div class="flex flex-col items-center mb-8">
                  <p
                    class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold text-center"
                  >
                    Beer
                  </p>
                  <AudioPlayer
                    audio_path={"/audio/v-b/Beer.mp3"}
                    className="w-24 h-24 sm:w-20 sm:h-20"
                    client:load
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            src="/images/svg/global/Contenedor_Audios_Inferior.svg"
            alt="Contenedor de Audios Parte Inferior"
            class="w-full transform translate-y-72 -z-10 absolute sm:hidden"
          />
        </div>
        <div class="flex justify-center">
          <img
            src="/images/svg/global/Contenedor_Audios_Inferior_xl.svg"
            alt="Contenedor de Audios Parte Inferior"
            class="w-3/4 lg:w-1/2 hidden mx-auto transform -z-10 absolute translate-y-80 sm:block"
          />
        </div>
      </section>
    </section>
    <!-- Seccion de "Como podemos pronunciar el fonema" -->
    <section class="-mb-8">
      <p
        class="text-xl sm:text-3xl text-bold text-center mb-12 sm:mb-24 max-w-[65%] sm:max-w-[62%] mx-auto leading-[1.45rem]"
      >
        ¿Cómo podemos<span class="text-[#6610F2]">
          pronunciar v en inglés</span
        >?
      </p>

      <div class="grid grid-cols-12 gap-[15px] w-[90%] sm:w-[75%] mx-auto">
        <div
          class="col-start-1 col-span-12 -mb-16 max-w-[100%] sm:col-start-1 sm:col-span-7 sm:mb-4 sm:max-w-[92%] xl:col-span-8"
        >
          <p class="text-lg sm:text-2xl text-left leading-[1.45rem]">
            Partimos <span class="text-bold"
              >pronunciando la <span class="text-[#6610F2]">letra b</span> en inglés</span
            >, que se pronuncia con los <span class="text-bold"
              >labios juntos</span
            > como en la imagen a continuación.
          </p>
        </div>
        <div
          class="col-start-7 col-span-5 sm:col-start-8 sm:col-span-4 flex justify-center items-center mb-4 sm:-mb-72"
        >
          <img
            src="/images/svg/vyb/Boca_B_1.svg"
            alt="Boca forma B 1"
            class="w-32 h-32 sm:w-40 sm:h-40 transform translate-y-2 xs:translate-x-8 sm:-translate-y-40 xl:-translate-y-56 translate-x-4"
          />
        </div>

        <div
          class="col-end-13 col-span-12 c550:col-span-9 c550:col-end-13 ml-auto sm:col-end-13 sm:col-span-8 sm:max-w-[90%] transform -translate-y-8 sm:translate-y-4"
        >
          <p class="text-lg sm:text-2xl text-right leading-[1.45rem]">
            Luego, abrimos la boca y mordemos levemente
            <span class="block xs:inline c400:block sm:inline">
              el<span class="text-bold"> labio inferior</span> con nuestros <span
                class="text-bold"
                >incisivos
              </span>
            </span>
            <span class="block xs:inline c400:block c550:inline">
              <span class="text-bold">superiores </span> para hacer la <span
                class="text-bold text-[#6610F2]">letra v</span
              >,
            </span>
            <span class="block c400:block c550:inline">
              como en la imagen.
            </span>
          </p>
        </div>

        <div class="col-start-1 col-span-7 flex justify-center items-center">
          <img
            src="/images/svg/vyb/Boca_V_1.svg"
            alt="Boca Forma V 1"
            class="w-36 h-36 transform -translate-y-20 -translate-x-8 c400:-translate-y-20
                                                                        c550:-translate-y-32 c550:-translate-x-20 sm:-translate-y-28 sm:-translate-x-12"
          />
        </div>
      </div>
    </section>
    <!-- Seccion de "Si nuestros labios estan juntos" -->
    <section class="-mb-4 overflow-hidden">
      <div class="max-w-2xl mx-auto">
        <div class="flex justify-center max-w-[90%] sm:max-w-[90%] mx-auto">
          <p
            class="text-lg sm:text-2xl text-center mb-12 sm:mb-20 leading-[1.45rem]"
          >
            Por tanto, <span class="text-bold"
              >si nuestros labios están juntos</span
            >, estamos
            <span class="text-bold text-[#6610F2]">pronunciando la letra b</span
            > y si nuestros dientes están <span class="text-bold"
              >sobre nuestro labio inferior</span
            >, estamos <span class="text-bold text-[#6610F2]">
              pronunciando la letra v</span
            >.
          </p>
        </div>
      </div>

      <div class="lg:max-w-4xl sm:max-w-2xl mx-auto">
        <div class="grid sm:grid-cols-2 sm:gap-x-12 mb-14">
          <div>
            <div class="flex flex-col items-center mb-8">
              <video
                src="/videos/v-b/b.mp4"
                controls
                class="w-80 sm:w-full mx-auto"
                controlsList="nodownload"
                ></video>
            </div>
            <div class="flex flex-col items-center mb-4">
              <p
                class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold mb-2 sm:mb-8"
              >
                B
              </p>
            </div>
          </div>
          <div>
            <div class="flex flex-col items-center mb-8">
              <video
                src="/videos/v-b/v.mp4"
                controls
                class="w-80 sm:w-full mx-auto"
                controlsList="nodownload"
                ></video>
            </div>
            <div class="flex flex-col items-center mb-4">
              <p
                class="text-[#6610F2] text-3xl sm:text-5xl text-extrabold mb-2 sm:mb-8"
              >
                V
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Seccion de "¿Quieres seguir ejercitando?" -->
    <section class="overflow-hidden">
      <div class="grid grid-cols-2 items-center relative">
        <div class="col-span-2 text-center">
          <p class="text-xl sm:text-3xl text-center mb-4 sm:mb-12">
            <span class="text-mediumbold">¿Quieres seguir </span><span
              class="text-bold text-[#6610F2]"
            >
              ejercitando</span
            ><span class="text-mediumbold">?</span>
          </p>
          <nav
            class="transform transition-transform duration-200 hover:scale-110"
          >
            <a
              href="/exercise/v-b"
              class="text-[#6610F2] text-extrabold text-2xl sm:text-4xl w-full cursor-pointer px-4 text-center inline-flex justify-center"
            >
              Haz click aquí
            </a>
            <img
              src="/images/svg/global/Destacado.svg"
              alt="Destacado"
              class="mx-auto w-20 sm:w-40 sm:mt-2"
            />
          </nav>
        </div>
        <div class="col-start-2 col-span-2 -mt-12 sm:-mt-14">
          <img
            src="/images/svg/global/Mano_Izquierda.svg"
            alt="Mano Izquierda"
            class="w-32 h-32 sm:w-56 sm:h-56 transform translate-y-2 translate-x-14 sm:-translate-y-8 sm:translate-x-32"
          />
        </div>
      </div>
    </section>
  </article>
</Layout>
