---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Fonemas">
    <div>
        <h1>/Z/</h1>
        <p>
            El fonema /z/ es un fonema  que no se asocia a la <span class="font-bold">letra o grafema z</span> en el castellano de Chile.
        </p>
        <p>
            En el castellano de Chile usamos el fonema <span class="font-bold">/s/</span> para las palabras  escritas con las letras <span class="font-bold">s</span> y <span class="font-bold">z</span>. Es decir, <span class="font-bold">sólo tenemos un fonem</span>a para las palabras escritas con <span class="font-bold">s</span> y <span class="font-bold">z</span>.
        </p>
    </div>
    <div>
        <p>
            Pensemos <span class="font-bold">por ejemplo</span> en la pronunciación de:
        </p>
        <div class="font-bold">
            <p>Zona</p><p>/</p><p>Sano</p>
        </div>
        <p>
            Tal como lo puedes notar, sólo tenemos <span class="font-bold">un fonema para ambas palabras</span>.
        </p>
    </div>
    <div>
        <p>
            <span class="font-bold">En inglés</span>, la escritura de <span class="font-bold">s</span> y <span class="font-bold">z</span> al inicio de una palabra implica <span class="font-bold">dos fonemas distintos</span>. Estos fonemas son <span class="font-bold">/s/</span> y <span class="font-bold">/z/</span>.
        </p>
        <p>
            <span class="font-bold">Por ejemplo</span>, en palabras como:
        </p>
        <div>
            <p>Zip</p>
            <p>fonema /z/</p>
        </div>
        <div>
            <p>Sip</p>
            <p>fonema /s/</p>
        </div>
    </div>
    <div>
        <p>
            Esto significa que, dependiendo de <span class="font-bold">cómo se pronuncien la palabras</span>, quien hablan inglés podrán comprender <span class="font-bold">dos cosas distintas</span>.
        </p>
        <p>Por ejemplo:</p>
        <div>
            <p>Sip</p>
        </div>
        <div>
            <p>Zip</p>
        </div>
    </div>
    <div>
        <p>
            Una forma para comenzar a concientizar a los estudiantes sobre las <span class="font-bold">diferencias entre la escritura y la pronunciación</span> de una lengua y su lengua materna es hacer <span class="font-bold">ejercicios de percepción</span>.
        </p>
        <p>
            Los <span class="font-bold">ejercicios de percepción</span> permiten que los estudiantes aprendan a <span class="font-bold">discriminar el fonema</span> y, que, además refuercen la discriminación con la <span class="font-bold">escritura de la palabra</span>.
        </p>
    </div>
    <div>
        <p class="font-bold">
            ¿Cómo podemos <span>pronunciar el fonema /z/</span> en  al principio de una palabra en inglés?
        </p>
        <p>
            Partimos realizando el <span class="font-bold">sonido de la letra s en español</span>. Luego, hacemos el sonido mientras estamos pronunciando s y ponemos las manos sobre nuestra garganta.
        </p>
        <p>
            <span class="font-bold">Si vibra, estás produciendo el fonema /z/;</span> si no vibra como una abeja, <span class="font-bold">estás produciendo el fonema /s/</span>.
        </p>
    </div>
    <div>
        <p>
            Ahora, pon tu mano sobre tu garganta y sin escuchar los audios, <span class="font-bold">pronuncia las siguientes palabras:</span>
        </p>
        <div>
            <p>Zip</p>
        </div>
        <div>
            <p>Zone</p>
        </div>
        <div>
            <p>Solar</p>
        </div>
        <div>
            <p>Zoo</p>
        </div>
        <div>
            <p>Station</p>
        </div>
        <div>
            <p>Size</p>
        </div>
    </div>
</Layout>