---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Fonemas">
    <!-- Aprox la que da el nicolas es 373px en el mx, yo porpongo un 250px -->
    <article class="bg-[#F4F0FF] mx-[250px]"> 
        <section>
            <div class="grid grid-cols-12 grid-rows-1 gap-4">
                <div class="col-span-5">
                    <img src="/images/svg/Fonema_Z.svg" alt="Fonema Z" />
                </div>
                <div class="col-span-7 col-start-6 place-content-center space-y-4">
                    <p class="text-4xl">
                        El fonema /z/ es un fonema  que no se asocia a la <span class="text-bold text-[#6610F2]">letra o grafema z</span> en el castellano de Chile.
                    </p>
                    <div class="text-xl">
                        <p>
                            En el castellano de Chile usamos el fonema <span class="text-bold text-[#6610F2]">/s/</span> para las palabras escritas con las letras <span class="text-bold">s</span> y <span class="text-bold">z</span>. 
                        </p>
                        <p>
                            Es decir, <span class="text-bold">sólo tenemos un fonema</span> para las palabras escritas con <span class="text-bold">s</span> y <span class="text-bold">z</span>.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="grid grid-cols-12 grid-rows-3 gap-">
                <div class="col-span-8 col-start-3 place-content-center">
                    <p class="text-2xl text-center">
                        Pensemos <span class="text-bold">por ejemplo</span> en la pronunciación de:
                    </p>
                </div>
                <div class="col-span-4 col-start-5 row-start-2">
                    <img src="/images/svg/Zona_Sano.svg" alt="Comparación entre Zona y Sano">
                </div>
                <div class="col-span-6 col-start-4 row-start-3 place-content-center">
                    <p class="text-xl text-center">
                        Tal como lo puedes notar, sólo tenemos <span class="text-bold">un fonema para ambas palabras</span>.
                    </p>
                </div>
                <div class="col-span-3 row-span-2 col-start-1 row-start-2">
                    <img src="/images/svg/Mano_Derecha.svg" alt="Mano apuntando a la derecha" class="">
                </div>
            </div>
        </section>
        <section>
            <div class="grid grid-cols-12 grid-rows-1 gap-4">
                <div class="col-span-7 place-content-center text-2xl space-y-4">
                    <p>
                        <span class="text-bold text-[#6610F2]">En inglés</span>, la escritura de <span class="text-bold">s</span> y <span class="text-bold">z</span> al inicio de una palabra implica <span class="text-bold">dos fonemas distintos</span>.
                    </p>
                    <p>
                        Estos fonemas son <span class="text-bold text-[#6610F2]">/s/</span> y <span class="text-bold text-[#6610F2]">/z/</span>.
                    </p>
                </div>
                <div class="col-span-3 col-start-9">
                    <img src="/images/svg/Fonema_S_Z.svg" alt="">
                </div>
            </div>
        </section>
        <!-- Seccion de "Por ejemplo palabras como" -->
        <section class="mb-24">
            <p class="flex justify-center text-2xl mb-10 mt-20">
                <span class="text-bold">Por ejemplo</span>, en palabras como:
            </p>
            <div class="flex justify-center items-center gap-24">
                <div class="text-center">
                    <p class="text-extrabold text-[#6610F2] text-6xl leading-[79.36px]">Zip</p>
                    <p class="text-2xl text-bold">fonema /z/</p>
                </div>
                <div class="text-center">
                    <p class="text-extrabold text-[#6610F2] text-6xl leading-[79.36px]">Sip</p>
                    <p class="text-2xl text-bold">fonema /s/</p>
                </div>
            </div>  
        </section>
        <!-- Seccion de "Cómo se pronuncien la palabras" -->
        <section class="-mb-16">
            <div class="grid grid-cols-12 gap-[15px] w-[75%] mx-auto">
              <div class="col-start-1 col-span-4 flex justify-center items-center transform -translate-y-20 translate-x-8">
                <img src="/images/svg/Estrella.svg" alt="Estrella" class="w-60 h-60">
              </div>
              <div class="col-end-13 col-span-7"> 
                <p class="text-2xl text-right max-w-[90%]">
                  Esto significa que, dependiendo de <span class="text-bold">cómo se 
                  pronuncien la palabras</span>, quien habla inglés 
                  podrá comprender <span class="text-bold text-[#6610F2]">dos cosas distintas</span>.
                </p>
              </div>
            </div>
          </section>          
        <!-- Seccion de "Por ejemplo" -->
        <section class="mb-24">
            <div class="max-w-2xl mx-auto">
              <p class="text-3xl text-bold text-center -mb-4">Por ejemplo:</p>
              
              <div class="grid grid-cols-2 gap-x-48">
                <div class="flex flex-col items-center">
                  <img src="/images/svg/Sip.svg" alt="Sip" class="w-54 h-72 -mb-8">
                  <p class="text-[#6610F2] text-6xl text-extrabold mb-8">Sip</p>
                  <button class="w-20 h-20">
                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" 
                         class="w-full h-full p-2">
                  </button>
                </div>
                <div class="flex flex-col items-center">
                    <img src="/images/svg/Zip.svg" alt="Zip" class="w-54 h-72 rotate-[17.53deg] origin-center -mb-8">
                    <p class="text-[#6610F2] text-6xl text-extrabold mb-8">Zip</p>
                    <button class="w-20 h-20">
                      <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" 
                           class="w-full h-full p-2">
                    </button>
                </div>
              </div>
            </div>
        </section>          
        <!-- Seccion de "Ejercicios de percepción" -->
        <section>
            <div class="grid grid-cols-12 gap-[15px] w-[75%] mx-auto">
                <div class="col-start-1 col-span-8 max-w-[90%]"> 
                    <p class="text-2xl text-left mb-8">
                        Una forma para comenzar a concientizar sobre las
                        <span class="text-bold">diferencias entre la escritura y la pronunciación
                        </span> de una lengua y su lengua materna es hacer 
                        <span class="text-bold text-[#6610F2]">ejercicios de percepción</span>.
                    </p>
                </div>
                <div class="col-start-2 col-span-3 flex justify-center items-center">
                    <img src="/images/svg/Flecha.svg" alt="Flecha" class="w-40 h-40 transform rotate-[5.53deg] -translate-y-10 ">
                </div>
                <div class="col-end-13 col-span-8"> 
                    <p class="text-2xl text-right">
                        Los <span class="text-bold text-[#6610F2]">ejercicios de percepción</span> permiten aprender a
                        <span class="text-bold">discriminar el fonema</span> y, que, además refuercen la
                        discriminación con la <span class="text-bold">escritura de la palabra</span>.
                    </p>
                </div>
            </div>
        </section>
        <!-- Seccion de "Como podemos pronunciar el fonema" -->
        <section class="-mb-24">
            <p class="mt-4 text-3xl text-bold text-center mb-16">
                ¿Cómo podemos<span class="text-[#6610F2]"> pronunciar el fonema /z/</span><br>
                al principio de una palabra en inglés?
            </p>

            <div class="grid grid-cols-12 gap-[15px] w-[75%] mx-auto">
                <div class="col-start-1 col-span-7 mb-8">
                    <p class="text-2xl text-left">
                        Partimos realizando el <span class="text-bold">sonido de la letra s en
                        español</span>. Luego, hacemos el sonido mientras
                        estamos pronunciando s y ponemos las manos 
                        sobre nuestra garganta.
                    </p>
                </div>
                <div class="col-start-8 col-span-4 flex justify-center items-center">
                    <img src="/images/svg/Nota_Musical.svg" alt="Nota Musical" class="w-40 h-40 transform -translate-y-6 translate-x-8">
                </div>
            
                <div class="col-start-1 col-span-5 flex justify-center items-center">
                    <img src="/images/png/abeja.png" alt="Abeja" class="w-72 h-72 transform -translate-y-20 translate-x-4">
                </div>
                <div class="col-end-13 col-span-6 transform translate-y-4">
                    <p class="text-2xl text-right">
                        <span class="text-bold">Si vibra, </span><span class="text-bold text-[#6610F2]">estás produciendo el fonema /z/;</span> 
                        si no vibra como una abeja,
                        <span class="text-bold">estás produciendo el fonema /s/</span>.
                    </p>
                </div>
            </div>
        </section>
        <!-- Seccion de "Pronuncia las siguientes palabras" -->
        <section class="mb-24">
            <p class="mt-4 text-2xl text-center mb-24">
                Ahora, pon tu mano sobre tu garganta y sin escuchar<br>
                los audios, <span class="text-bold text-[#6610F2]">pronuncia las siguientes palabras:</span>
            </p>
        
            <div class="relative w-full max-w-[650px] mx-auto">
                <img src="/images/svg/Contenedor_Audios.svg" alt="Contenedor de Audios" class="w-full h-auto">
                
                <div class="absolute inset-0 flex items-center justify-center">
                    <div class="w-full px-24 transform translate-y-4">
                        <div class="grid grid-cols-2 gap-4 ">
                            <div class="flex flex-col items-center mb-8">
                                <p class="text-[#6610F2] text-6xl text-extrabold">Zip</p>
                                <button class="w-20 h-20 flex items-center justify-center">
                                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" class="w-full h-full p-2">
                                </button>
                            </div>
        
                            <div class="flex flex-col items-center mb-8">
                                <p class="text-[#6610F2] text-6xl text-extrabold">Zone</p>
                                <button class="w-20 h-20 flex items-center justify-center">
                                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" class="w-full h-full p-2">
                                </button>
                            </div>
        
                            <div class="flex flex-col items-center mb-8">
                                <p class="text-[#6610F2] text-6xl text-extrabold">Solar</p>
                                <button class="w-20 h-20 flex items-center justify-center">
                                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" class="w-full h-full p-2">
                                </button>
                            </div>
        
                            <div class="flex flex-col items-center mb-8">
                                <p class="text-[#6610F2] text-6xl text-extrabold">Zoo</p>
                                <button class="w-20 h-20 flex items-center justify-center">
                                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" class="w-full h-full p-2">
                                </button>
                            </div>
        
                            <div class="flex flex-col items-center mb-8">
                                <p class="text-[#6610F2] text-6xl text-extrabold">Station</p>
                                <button class="w-20 h-20 flex items-center justify-center">
                                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" class="w-full h-full p-2">
                                </button>
                            </div>
        
                            <div class="flex flex-col items-center mb-8">
                                <p class="text-[#6610F2] text-6xl text-extrabold">Size</p>
                                <button class="w-20 h-20 flex items-center justify-center">
                                    <img src="/images/svg/Reproducir_Audio.svg" alt="Reproducir Audio" class="w-full h-full p-2">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <!-- Seccion de "¿Quieres seguir ejercitando?" -->                   
        <section class="grid grid-cols-2 items-center relative">
            <div class="col-span-2 text-center">
                <p class="text-3xl text-center mb-12">¿Quieres seguir <span class="text-bold text-[#6610F2]">ejercitando</span>?</p>
                <a href="#" class="text-[#6610F2] text-extrabold text-4xl block">Haz click aquí</a>
                <img src="/images/svg/Destacado.svg" alt="Destacado" class="w-40 h-40 mx-auto transform -translate-y-12">
            </div>
            <div class="col-start-2 justify-self-end absolute right-56 top-16">
                <img src="/images/svg/Mano_Izquierda.svg" alt="Mano Izquierda" class="w-56 h-56">
            </div>
        </section>        
           
    </article>
</Layout>