---
import Layout from "../../layouts/Layout.astro";
import { Exercise } from "../../components/Exercise";

const descriptions = [
    `
    <p
    class="text-base text-center
    sm:text-2xl"
    >
        Ahora vas a <span class="text-bold">escuchar palabras</span> y <span class="text-bold">vas a seleccionar si la palabra tiene la letra <span class="text-[#6610F2]">letra d</span> <span class="text-[#6610F2]">del ingles</span> o <span class="text-[#6610F2]">del castellano</span></span>.
    </p>
    `,
    `
    <p
    class="text-base text-center
    sm:text-2xl"
    >
        Ahora vas a <span class="text-bold">escuchar palabras</span> y <span class="text-bold">vas a seleccionar si la palabra tiene la letra <span class="text-[#6610F2]">letra t</span> <span class="text-[#6610F2]">del ingles</span> o <span class="text-[#6610F2]">del castellano</span></span>.
    </p>
    `
];
---

<Layout title="Ejercicios T-D" description="Ejercicios para identificar el la letra T en inglés o castellano">
    <Exercise
    fonema={"t-d"}
    routeOfFonema={"/fonema/t-d"}
    routeOfTitleSVG={"/images/svg/tyd/Ejercicios t-d.svg"}
    descriptions={descriptions}
    client:load
    />
</Layout>
