---
import { Navbar } from "../components/Navbar";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header class="fixed top-0 z-50 w-full">
			<Navbar client:load />
		  </header>
		  <main class="z-0">
			<slot />
		  </main>
	</body>
</html>

<style>
body {
  font-family: 'CabinetGrotesk', sans-serif;
  margin: 0;
  padding: 0;
}

</style>

<style is:global>
@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 325;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'CabinetGroteskMediumBold';	
	src: url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
	font-weight: 425;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CabinetGroteskBold';	
	src: url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CabinetGroteskExtraBold';	
	src: url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

.text-mediumbold {
    font-family: CabinetGroteskMediumBold;
}

.text-bold {
    font-family: CabinetGroteskBold;
}

.text-extrabold {
    font-family: CabinetGroteskExtraBold;
}
</style>
