---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Fonemas exercices">
    <article class="bg-[#F4F0FF] mx-[188px]">
        <!-- Title section -->
        <section class="grid grid-cols-12 gap-4">
            <!-- Tittle image -->
            <img src="/images/svg/Ejercicios_s.svg" 
                alt="Titulo de ejercicios" 
                class="col-span-6 col-start-4 m-w-[571px] w-full"
                >
            <!-- Left star image -->
            <img src="/images/svg/Estrella.svg" 
                alt="Imagen de estrella"
                class="col-span-2 col-start-1 my-auto"
                >
            <!-- Text -->
            <p class="m-w-[615px] w-full text-[36px] text-center col-span-6 col-start-4 m-auto">
                Ahora vas a <span class="text-bold">escuchar palabras</span> y vas a 
                <span class="text-bold">seleccionar si la palabra tiene</span> 
                <span class="text-[#6610F2]">
                    s 
                    <span class="text-black text-bold">o</span>
                    z.
                </span>
            </p>
            <!-- Right star image -->
            <img src="/images/svg/Estrella.svg" 
                alt="Imagen de estrella"
                class="col-span-2 col-start-11 scale-x-[-1] my-auto"
                >
        </section>
        <!-- Section of question -->
        <section class="grid grid-cols-12 gap-4">
            <span class="text-[#6610F2] col-span-2 col-start-6 text-[40px] text-center m-auto">
                Palabra 1
            </span>
            <!-- Left arrow -->
            <img src="/images/svg/Flecha_Izquierda.svg" 
                alt="Imagen de flecha izquierda"
                class="col-span-1 col-start-1 m-auto"
                >
            <!-- Play audio image -->
            <img src="/images/svg/Reproducir_Audio.svg" 
                alt="Imagen de reproducir audio"
                class="col-span-2 col-start-6 max-w-[216px] w-full m-auto"
                >
            <!-- Right arrow -->
            <img src="/images/svg/Flecha_Derecha.svg" 
                alt="Imagen de flecha derecha"
                class="col-span-1 col-start-12 m-auto"
                >
            <button class="col-start-4 w-[234px] h-[82px] text-[40px] border-black text-white bg-[#6610F2] rounded-[48px]">
                Tiene s
            </button>
            <button class="col-start-8 w-[234px] h-[82px] text-[40px] border-black text-white bg-[#6610F2] rounded-[48px]">
                Tiene z
            </button>
        </section>
    </article>
</Layout>