---
import Layout from '../../layouts/Layout.astro';
import { AudioPlay } from '../../components/z/AudioPlay';
---

<Layout title="Fonemas exercices">
    <article class="bg-[#F4F0FF] flex flex-col justify-center gap-10 lg:w-[67%]">
        <section
        class="relative w-[85%] mx-auto
        grid grid-cols-12 row-cols-3 gap-[15px]"
        >
            <!-- Title -->
            <img
            src="/images/svg/z/Ejercicios_Z.svg"
            alt="Titulo de ejercicios" 
            class="w-[206px] h-[93px] place-self-center
            col-span-6 col-start-4 
            lg:w-[552px] lg:h-[160px]"
            >
        </section>
        <section class="grid grid-cols-12 gap-[15px] w-[85%] mx-auto">
            <!-- Text -->
            <div
            class="text-[16px] text-center 
            col-span-12 row-span-2 col-start-1 row-start-1
            md:text-xl
            lg:text-4xl"
            >
                <!-- Base text -->
                <p>
                    Ahora vas a <span class="text-bold">escuchar palabras</span> y vas a
                </p>
                <!-- Text for mobile and tablet -->
                <p class="block lg:hidden">
                    <span class="text-bold">seleccionar si la palabra</span>
                </p>
                <p class="block lg:hidden">
                    <span class="text-bold">tiene </span><span class="text-[#6610F2]">s <span class="text-black text-bold">o</span> z.</span>
                </p>
                <!-- Text for desktop -->
                <p class="hidden lg:block">
                    <span class="text-bold">seleccionar si la palabra</span> <span class="text-bold">tiene </span><span class="text-[#6610F2]">s <span class="text-black text-bold">o</span> z.</span>
                </p>
            </div>
            <!-- Left start -->
            <img src="/images/svg/global/Estrella.svg" 
            alt="Imagen de estrella"
            class="col-span-2 row-span-2 col-start-1 row-start-2 place-self-center
            md:col-span-2 md:col-start-1 md:row-start-1
            lg:col-span-1 lg:row-span-1 lg:col-start-2 lg:row-start-1"
            />
            <!-- Right start -->
            <img src="/images/svg/global/Estrella.svg" 
            alt="Imagen de estrella"
            class="scale-x-[-1]
            col-span-2 row-span-2 col-start-11 row-start-2 place-self-center
            md:col-span-2 md:col-start-11 md:row-start-1
            lg:col-span-1 lg:row-span-1 lg:col-start-11 lg:row-start-1"
            />
        </section>
        <!-- Rest of the page -->
        <AudioPlay client:load/>
    </article>
</Layout>